

.navbarCol {
    background-color: #DECBEC;
}

.navTextCol {
    color: #4C2667 !important;
    margin-right: 25px !important;
}

.logoImg {
    max-width: 70px;
    margin-right: 50px !important;
}